* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  width: 25.5rem;
}

img {
  overflow-x: hidden;
}

.icons {
  width: 48px;
  height: 48px;
  padding: 5px;
}

@media only screen and (max-width: 766px) {
  .responsive {
    text-align: center;
  }
}

@media only screen and (max-width: 596px) {
  .responsive2 {
    text-align: center;
  }
}
